Q1. In the below elements which of them are values or an expression? eg:- values can be
 integer or string and expressions will be mathematical operators.

*                =>  expression

'hello'          => value

-87.8            =>  value

-                => e6xpression

/                => expression

+                => expression

6                => value

Q2. What is the difference between string and variable?

STRING - String is value in the form of text. It can written in single, double, triple quotes.
VARIABLE - Variable is like a container which stores some data in it. It is the name given to any data.

Q3. Describe three different data types.

Following are the various data types-
1. strings 2.intergers 3.floating type variables 4.booleans

1. Strings- These are the values in the form of text. they are written in quotes

2.intergers- These are the numeric data in the form of complete numbers without any fractional part.

3. Floating type variables- These are also numeric data but having decimal format.

Q4. What is an expression made up of? What do all expressions do?

Expression are the combination of some values with the mathematical operators.
they are used to show the outcomes or results and also used to evaluate the values.

Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression can evaluate, it includes mathematical operators like +, - ,* etc. And a statement is a text that can only printed using command.

Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans is 23.

In [1]:
bacon = 22

In [2]:
bacon+1

23

Q7. What should the values of the following two terms be?
'spam' +'spamspam'
'spam' * 3

In [3]:
'spam'+ 'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

Because a varible's name cann't be started with a number. Varibles only can start with an alphabet or underscore.

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

For string - str(value)
for integer- int(value)
for floating point number- float(value)

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

It is causing an error because strings can not be added with any number, only a string can be added with a string.
 The above error can be fised by converting the 99 in a string.

In [7]:
'I have eaten'+ ' 99 ' +'burritos.'

'I have eaten 99 burritos.'